.FollowersCard {
  width: 100%;
  border-radius: 0.7rem;
  gap: 1rem;
  display: flex;
  flex-direction: column;
  font-size: 15px;
  padding: 0 10px;
}

@media (max-width:768px){
  .FollowersCard {
    flex-direction: row;
    overflow-x: auto;
  }
  .FollowersCard > h3{
    display: none;
  }
  .follower > div {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .follower {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between;
    align-items: center; */
  }
  .namee{
    display: none;
  }
  .follower > div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  .followerImg {
    width: 3rem !important;
    height: 3rem !important;
    border-radius: 50%;
    align-items: center;
    justify-items: center;
    display: flex;
  }
}

@media (min-width:768px){
  .FollowersCard{
    height: 50px;
    max-width: 310px;
  }
}

.follower {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.follower > div {
  display: flex;
  gap: 10px;
}

.follower > button {
  border: var(--purplePain);
  color: #7c27e5;
  /* color:  #9d2fd8 ; */
  font-weight: 600;
}

.followerImg {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
}

.name {
  display: flex;
  flex-direction: column;
  align-items: self-start;
  justify-content: center;
}

.name > span:nth-of-type(1) {
  font-weight: 600;
}

.fc-button {
  height: 2rem;
  padding-left: 5px;
  padding-right: 5px;
}
