.Profile {
  position: relative;
  display: grid;
  grid-template-columns: 26% 40% 22%;
  gap: 5%;
  margin-top: 10px;
}

.ProfilePage-Center {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}